@model BoxOffice.Models.AddMovieModel

@{
    ViewBag.Title = "Add Movie - BoxOffice";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section js {
    <script type="text/javascript">
    var page = new Arr();
    page[0] = "#movies";
    page[1] = "#addMovieLink";

    $(document).ready(function () {
        for (var i in page) {
            $(i).addClass("selected");
        }
    });
    </script>
}

@section subMenu {
    @Html.Partial("_AdminMoviesSubMenuPartial")
}

<h2>AddMovie</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AddMovieModel</legend>

        <div class="editor-label" id="addSearchTerm">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DVDs)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DVDs)
            @Html.ValidationMessageFor(model => model.DVDs)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MovieOfTheWeek)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MovieOfTheWeek)
            @Html.ValidationMessageFor(model => model.MovieOfTheWeek)
        </div>

        <div>
            @Html.HiddenFor(model => model.TMDbID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
