@model BoxOffice.Models.AddMovieModel
@{
    ViewBag.Title = "Add Movie - BoxOffice";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section js {
    <script type="text/javascript">
    var page = "#movies";
    var subpage = "#addMovieLink";

    $(document).ready(function () {
        $(page).addClass("selected");
        $(subpage).addClass("selected");
    });
    </script>
}
@section subMenu {
    @Html.Partial("_AdminMoviesSubMenuPartial")
}
<h2 class="boxoffice">add a movie to BoxOffice</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<div id="addMovieForm">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <div class="editor-label">
            <label for="TMDbID">TMDb ID</label>
        </div>
        <div class="editor-field">
            <input class="text-box single-line" data-val="true" data-val-required="The TMDbID field is required." id="TMDbID" name="TMDbID" type="text" value="">
            @Html.ValidationMessageFor(model => model.TMDbID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DVDs)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DVDs)
            @Html.ValidationMessageFor(model => model.DVDs)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            <label for="MovieOfTheWeek">Movie Of The Week</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MovieOfTheWeek)
            @Html.ValidationMessageFor(model => model.MovieOfTheWeek)
        </div>
    
        <section id="actions" class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix item">
            <div class="ui-dialog-buttonset">
                <input type="submit" value="Save" class="ui-button ui-widget ui-state-default ui-corner-all"
                    role="button" aria-disabled="false" />
            </div>
        </section>
    }
</div>
