@model BoxOffice.Models.AddMovieModel
@{
    ViewBag.Title = "Add Movie - BoxOffice";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section js {
    <script type="text/javascript">
    var page = "#movies";
    var subpage = "#addMovieLink";

    $(document).ready(function () {
        $(page).addClass("selected");
        $(subpage).addClass("selected");
    });
    </script>
}
@section subMenu {
    @Html.Partial("_AdminMoviesSubMenuPartial")
}
<h2 class="boxoffice">add a movie to BoxOffice</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <p></p>

    <div class="editor-label">
        @Html.LabelFor(model => model.TMDbID)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.TMDbID)
        @Html.ValidationMessageFor(model => model.TMDbID)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.DVDs)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DVDs)
        @Html.ValidationMessageFor(model => model.DVDs)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Price)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Price)
        @Html.ValidationMessageFor(model => model.Price)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.MovieOfTheWeek)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.MovieOfTheWeek)
        @Html.ValidationMessageFor(model => model.MovieOfTheWeek)
    </div>
    
                  

    <p>
        <input type="submit" value="Create" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-button-text" />
    </p>
}
