@using BoxOffice.Models;
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "BoxOffice Administrative Interface";
}
@section js {
    <script type="text/javascript">
    var page = "#home";
    $(document).ready(function () {
        $("#home").addClass("selected");
        $("#search").css({
            opacity: 0.1
        });
    });
    </script>
}
@section subMenu
{
    <ul id="subMenu">
        <li><a href="#movieOfTheWeekSection">motw</a></li>
        <li><a href="#hotMoviesSection">Hot Movies</a></li>
        <li><a href='#flaggedCommentsSection'>Flagged Comments</a></li>
    </ul>
}
@Html.Partial(partialViewName: "MovieOfTheWeekPartial")
@Html.Partial(partialViewName: "HotMoviesPartial")
@{
    var comments = (List<BoxOffice.Models.Comment>)ViewData["flaggedComments"];
}
@if (comments == null)
{
    <section id="flaggedCommentsSection">
        <h3>Flagged Comments</h3>
        <p>Everybody is playing nice.</p>
    </section>
}
else
{
    <section id="flaggedCommentsSection">
        <h3>Flagged Comments</h3>
        <table>
            <thead>
                <tr>
                    <td>Username</td>
                    <td>Movie</td>
                    <td>Comment</td>
                    <td>Flags</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in comments)
                {
                    <tr>
                        <td>@item.User.Username</td>
                        <td>@item.Movie.Name</td>
                        <td>@item.Message</td>
                        <td>@item.Flag</td>
                        <td>
                            <section id="actions" class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix item">
                                <div class="ui-dialog-buttonset">
                                    <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                                        role="button" aria-disabled="false" id="@string.Format("deleteComment{0})", item.UserID)">
                                        <a href="javascript:deleteComment(@item.CommentID);"><span class="ui-button-text">delete
                                            comment</span></a>
                                    </button>
                                    <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                                        role="button" aria-disabled="false" id="@string.Format("deleteUser{0})", item.UserID)">
                                        <a href="javascript:deleteUser(@item.UserID);"><span class="ui-button-text">ban user
                                            </span></a>
                                    </button>
                                </div>
                            </section>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>    
}