@using BoxOffice.Models;

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "BoxOffice Administrative Interface";
}

@section js {
    <script type="text/javascript">
    $(document).ready(function () {
        $("#home").addClass("selected");
        $("#search").css({
            opacity: 0.1
        });
    });
    </script>
}

@section subMenu
{
    <ul id="subMenu">
        <li><a href="#movieOfTheWeekSection">motw</a></li>
        <li><a href="#hotMoviesSection">Hot Movies</a></li>
        <li><a href='#flaggedCommentsSection'>Flagged Comments</a></li>
    </ul>
}

@Html.Partial(partialViewName: "MovieOfTheWeekPartial")

@Html.Partial(partialViewName: "HotMoviesPartial")

@{
    var comments = (List<BoxOffice.Models.Comment>)ViewData["flaggedComments"];
}

@if (comments == null)
{
    <section id="flaggedCommentsSection">
        <h3>Flagged Comments</h3>
        <p>Everybody is playing nice.</p>
    </section>
}
else
{
    <section id="flaggedCommentsSection">
        <h3>Flagged Comments</h3>
        <table>
            <thead>
                <tr>
                    <td>Username</td>
                </tr>
                <tr>
                    <td>Movie</td>
                </tr>
                <tr>
                    <td>Comment</td>
                </tr>
                <tr>
                    <td>Flags</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in comments)
                {
                    <tr>
                        <td>@Html.Display(item.User.Username)</td>
                    </tr>
                    <tr>
                        <td>@Html.Display(item.Movie.Name)</td>
                    </tr>
                    <tr>
                        <td>@Html.Display(item.Message)</td>
                    </tr>
                    <tr>
                        <td>@Html.Display(item.Flag.ToString())</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>    
}