@model BoxOffice.Models.Message

@{
    ViewBag.Title = "MessageUser";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>MessageUser</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Message</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FromUserID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FromUserID)
            @Html.ValidationMessageFor(model => model.FromUserID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ToUserID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ToUserID)
            @Html.ValidationMessageFor(model => model.ToUserID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateSent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateSent)
            @Html.ValidationMessageFor(model => model.DateSent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Text)
            @Html.ValidationMessageFor(model => model.Text)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.toAll)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.toAll)
            @Html.ValidationMessageFor(model => model.toAll)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
