@model IEnumerable<BoxOffice.Models.Movie>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "BoxOffice Administrative Interface - Movies";
}
@section js {
    <script type="text/javascript">
    var page = "#movies";
    var subpage = "";
    $(document).ready(function () {
        $(page).addClass("selected");
    });
    </script>
}
@section subMenu {
    @Html.Partial("_AdminMoviesSubMenuPartial")
}
<table id="movieTable">
    <thead>
        <tr>
            <th>Actions</th>
            <th>Title</th>
            <th>Studios</th>
            <th>Genre</th>
            <th># of DVDs (rented)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(s => s.Name))
        {
            var rentedCount = item.DVDs.ToList().FindAll(a => a.State == "rented").Count();
            <tr>
                <td>
                    <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-button-text">
                        <a href="javascript:makeMovieOfTheWeek(@item.MovieID);">Promote</a>
                    </button>
                    <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-button-text">
                        <a href="javascript:delete(@item.MovieID);">Delete</a>
                    </button>
                </td>
                <td><p class="first">@Html.DisplayFor(s => item.Name)</p></td>
                <td>
                    @foreach (var studio in item.Studios.OrderBy(s => s.Name).ToList())
                    {
                        <p>@Html.DisplayFor(s => studio.Name)</p>
                    }
                </td>
                <td>
                    @foreach (var genre in item.Categories.OrderBy(c => c.Name))
                    {
                        <p>@Html.DisplayFor(s => genre.Name)</p>
                    }
                </td>
                <td>
                    <p>@Html.DisplayFor(s => item.DVDs.Count) (@rentedCount)</p>
                </td>
            </tr>
        }
    </tbody>
</table>
