@model IEnumerable<BoxOffice.Models.Movie>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "BoxOffice Administrative Interface - Movies";
}

@section js {
    <script type="text/javascript">
    var page = "#movies";
    var subpage = "";
    $(document).ready(function () {
        $(page).addClass("selected");
    });
    </script>
}

@section subMenu {
    @Html.Partial("_AdminMoviesSubMenuPartial")
}

<table id="movieTable">
    <thead>
        <tr>
            <th>Title</th>
        </tr>
        <tr>
            <th>Studios</th>
        </tr>
        <tr>
            <th>Genre</th>
        </tr>
        <tr>
            <th># of DVDs (rented)</th>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(s => s.Name))
        {
            var rentedCount = item.DVDs.ToList().FindAll(a => a.State == "rented").Count();
            <tr>
                <td>@Html.DisplayFor(s => item.Name)</td>
            </tr>
            <tr>
                <td>
                    @foreach (var studio in item.Studios.ToList())
                    {
                        @Html.DisplayFor(s => studio.Name); <br />
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @foreach (var genre in item.Categories)
                    {
                        @Html.DisplayFor(s => genre.Name); <br />
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(s => item.DVDs.Count) (@rentedCount)
                </td>
            </tr>
        }
        </tbody>
</table>
