<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    
    <!-- Load TypeKit JS for custom font -->
    <script type="text/javascript" src="http://use.typekit.com/irl4iyd.js"></script>
    <script type="text/javascript">    try { Typekit.load(); } catch (e) { }</script>
    
    <!-- Load bundled JS -->
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
    
    <!-- load other JS -->
    <script type="text/javascript" src="/Scripts/AjaxLogin.js"></script>
    <script type="text/javascript" src="/Scripts/admin.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.masonry.min.js"></script>
    <script type="text/javascript" src="/Scripts/cssfx.min.js"></script>

    <!-- provide standard conforming functionality to IE -->
    <!--[if IE]>
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="/Scripts/selectivizr-min.js"></script>
        <link href="/Content/style_ie.css" rel="stylesheet" type="text/css" class="cssfx" media="screen"/>
	<![endif]-->

    <!-- Load CSS for page and JQuery UI elements -->   
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" class="cssfx" media="screen"/>
    <link href="@Url.Content("~/Content/themes/metro/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" />

    <!-- include page-specific JS -->
    @RenderSection("js", required: false)
    
    <meta name="viewport" content="width=device-width" />
</head>

<body>

    <h1 id="logo">BoxOffice</h1>

    <header>
        <nav>
            <ul>
                <li ><a id="search" class="first" href="/">Q</a> </li>
                <li> <a id="home" href="@Url.Action("Index", "Admin")">Dashboard</a> </li>
                <li> <a id="movies" href="@Url.Action("Movies", "Admin")">Movies</a> </li>
                <li> <a id="genres" href="@Url.Action("Genres","Admin")">Genres</a> </li>
                <li> <a id="me" href="@Url.Action("Messages","Admin")">Messages</a></li>
            </ul>
            @RenderSection("subMenu", false)
        </nav>
    </header>
    
    <section id="body">
        @RenderBody()
    </section>

    <footer>
        <p class=" ">&copy; 2012 Robert Wawrzyniak &mdash; All rights reserved</p>
    </footer>
</body>

</html>