@model BoxOffice.Models.Movie

@{
    ViewBag.Title = Model.Name;
}

@*<section id="movieArea">*@
    <img src="@Model.Images.First().Url" alt="Poster of @Model.Name" />
    <section id="infoArea">
        <h2>@Model.Name</h2>

        <fieldset>
            <legend>Community Ratings</legend>

            @if (Model.Rating != null)
            {
                <label>Rating:</label>
                <span>@Model.Rating</span> 
            }
            else
            {
                <label>Rating (TMDb):</label>
                <span>@Model.Rating_by_moviedb</span>
            }

            @if (Model.Votes != null)
            {
                <label class="rightish">Votes:</label>
                <span>@Model.Votes</span> 
            }
            else
            {
                <label class="rightish">Votes (TMDb):</label>
                <span>@Model.Votes_by_moviedb</span>
            }            
        </fieldset>

        <section id="story">
            <div id="tagline">
                <label>Tagline</label>
                <p>@Model.Tagline</p>
            </div>
            <div id="overview">
                <label>Overview</label>
                <p>@Model.Overview</p>
            </div>
        </section>
        
        <section id="actions" class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <div class="ui-dialog-buttonset">
                <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                    role="button" aria-disabled="false">
                    <span class="ui-button-text" id="addToQueue">Add to Queue</span>
                </button>
                <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                    role="button" aria-disabled="false">
                    <span class="ui-button-text" id="rate">Rate</span>
                </button>
                <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                    role="button" aria-disabled="false">
                    <span class="ui-button-text" id="comment">Comment</span>
                </button>
            </div>
        </section>
        
        <section id="comments">
            <label>Comments</label>
            @foreach (var comment in Model.Comments.ToList())
            {
                <section class="comment">
                    <label>@comment.User.Username (@comment.Date)</label>
                    <a href="javascript:flagComment(@comment.CommentID)">Flag comment</a>
                    <p>@comment.Message</p>
                </section>
            }
        </section>      
    </section>
@*</section>*@
