@model BoxOffice.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Movie</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Votes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Votes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rating)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Adult)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Adult)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Translated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Translated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Language)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Language)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Original_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Original_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Alternative_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Alternative_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Imdb_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Imdb_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Url)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Url)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Overview)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Overview)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Votes_by_moviedb)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Votes_by_moviedb)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rating_by_moviedb)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rating_by_moviedb)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tagline)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tagline)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Certification)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Certification)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateReleased)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateReleased)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Homepage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Homepage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Trailer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Trailer)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MovieID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
