@model BoxOffice.Models.Movie

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Movie</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Votes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Votes)
            @Html.ValidationMessageFor(model => model.Votes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rating)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rating)
            @Html.ValidationMessageFor(model => model.Rating)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Adult)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Adult)
            @Html.ValidationMessageFor(model => model.Adult)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Translated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Translated)
            @Html.ValidationMessageFor(model => model.Translated)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Language)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Language)
            @Html.ValidationMessageFor(model => model.Language)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Original_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Original_name)
            @Html.ValidationMessageFor(model => model.Original_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Alternative_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Alternative_name)
            @Html.ValidationMessageFor(model => model.Alternative_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Type)
            @Html.ValidationMessageFor(model => model.Type)
        </div>

        @Html.HiddenFor(model => model.MovieID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Imdb_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Imdb_id)
            @Html.ValidationMessageFor(model => model.Imdb_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Url)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Url)
            @Html.ValidationMessageFor(model => model.Url)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Overview)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Overview)
            @Html.ValidationMessageFor(model => model.Overview)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Votes_by_moviedb)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Votes_by_moviedb)
            @Html.ValidationMessageFor(model => model.Votes_by_moviedb)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rating_by_moviedb)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rating_by_moviedb)
            @Html.ValidationMessageFor(model => model.Rating_by_moviedb)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tagline)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tagline)
            @Html.ValidationMessageFor(model => model.Tagline)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Certification)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Certification)
            @Html.ValidationMessageFor(model => model.Certification)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Released)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Released)
            @Html.ValidationMessageFor(model => model.Released)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Homepage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Homepage)
            @Html.ValidationMessageFor(model => model.Homepage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Trailer)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Trailer)
            @Html.ValidationMessageFor(model => model.Trailer)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
