@model IEnumerable<BoxOffice.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Votes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieOfTheWeek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentalCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adult)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Translated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Original_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alternative_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imdb_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Overview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Votes_by_moviedb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating_by_moviedb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tagline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Certification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateReleased)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Homepage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trailer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Votes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MovieOfTheWeek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RentalCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adult)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Translated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Original_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alternative_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imdb_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Overview)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Votes_by_moviedb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating_by_moviedb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tagline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Certification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateReleased)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Homepage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trailer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MovieID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MovieID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MovieID })
        </td>
    </tr>
}

</table>
