@model IEnumerable<BoxOffice.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Price
        </th>
        <th>
            Votes
        </th>
        <th>
            Rating
        </th>
        <th>
            Adult
        </th>
        <th>
            Translated
        </th>
        <th>
            Language
        </th>
        <th>
            Original_name
        </th>
        <th>
            Name
        </th>
        <th>
            Alternative_name
        </th>
        <th>
            Type
        </th>
        <th>
            Imdb_id
        </th>
        <th>
            Url
        </th>
        <th>
            Overview
        </th>
        <th>
            Votes_by_moviedb
        </th>
        <th>
            Rating_by_moviedb
        </th>
        <th>
            Tagline
        </th>
        <th>
            Certification
        </th>
        <th>
            Released
        </th>
        <th>
            Homepage
        </th>
        <th>
            Trailer
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Votes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adult)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Translated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Original_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alternative_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imdb_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Overview)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Votes_by_moviedb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating_by_moviedb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tagline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Certification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateReleased)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Homepage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trailer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MovieID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MovieID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MovieID })
        </td>
    </tr>
}

</table>
