@model BoxOffice.Models.User
@{
    ViewBag.Title = "Comments";
}
@section js{
    <script type="text/javascript">
    $(document).ready(function () {
        var page = "#me";
        var subpage = "#commentsLink";
        $(page).addClass("selected");
        $(subpage).addClass("selected");
    });

    function showEditComment(id) {
        var sel = ".section" + id;
        $(sel).append('<section id="commentField" class="hidden"><p>Click on "send" to comment on this movie.<br />Click "comment" again to hide.</p><input id="commentText" type="text" placeholder="Your Comment goes here." /><button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"role="button" aria-disabled="false" id="commentButton"><a href="javascript:editComment(' + id + ');"><span class="ui-button-text">Send</span></a></button></section>');
        showComment();
    }

    function editComment(id) {
        $.ajax({
            url: '/Users/EditComment',
            type: "GET",
            dataType: "json",

            // query will be the param used by your action method
            data: { id: id , edit: $("#commentText").val()},
            success: function (data) {
                var sel = "#commentButton";
                var $selector = $(sel);
                if (data.success) {
                    $($selector).animate({
                        backgroundColor: "#008000"
                    }, 500, function () {
                        $($selector).animate({
                            backgroundColor: "#063559"
                        }, 500, function () {
                            showComment();
                        });
                    });
                } else {
                    $($selector).animate({
                        backgroundColor: "#FF0000"
                    }, 500, function () {
                        $($selector).animate({
                            backgroundColor: "#063559"
                        }, 500);
                    });
                }
            }
        });
    }
    </script>
}
@section subMenu
{
    @Html.Partial("userSubMenuPartial")
}
@if (Model.Comments.Any())
{
    <ul class="metroList">
        @foreach (var item in Model.Comments.Where(c => c.Hide == false).ToList())
        {
            <li>
                <section class="comment @string.Format("section{0}", item.CommentID)">
                    <label>@item.User.Username (@item.Date)</label>
                    <a href="javascript:showEditComment(@item.CommentID)" class="link @string.Format("edit{0}", item.CommentID)">
                        Edit comment</a>
                    <p>@item.Message</p>
                </section>
            </li>
        }
    </ul>
}
else
{
    <h2>No Comments</h2>
    <p>You did not post any comments.<br />
        Feel free to engage in the community and change that.</p>
}
