@using BoxOffice.Models
@model BoxOffice.Models.User
@{
    ViewBag.Title = "Queue";
    var db = new BoxOfficeContext();

    var messagesToDisplay = new List<Message>();
    if (Model.Messages.Any())
    {
        messagesToDisplay = Model.Messages.ToList();
    }
    if (db.Messages.Any(m => m.toAll))
    {
        db.Messages.Where(m => m.toAll).ToList().ForEach(m => messagesToDisplay.Add(m));
    }
    messagesToDisplay = messagesToDisplay.OrderBy(m => m.DateSent).Take(30).ToList();
}
@section subMenu
{
    @Html.Partial("userSubMenuPartial")
}
@section js
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.raty.min.js")"></script>
    <script type="text/javascript">
    // nav highlighting
    var page = "#me";
    var subpage = "#queueLink";
    $(document).ready(function () {
        $(page).addClass("selected");
        $(subpage).addClass("selected");
        
        // rating
        $(".rating").raty({
            half: true,
            halfShow: true,
            number: 10,
            path: "/Content/img",
            readOnly: true,
            start: function () {
                return $(this).attr("data-rating");
            }
        });
    });

    

    </script>
}
<div id="queuePage" class="containerView">
    <section id="queue" class="item">
        <p>This is your queue of movies, change priority by dragging and dropping.</p>
        <div id="accordion">
            @if (Model.Queue.Any())
            {
                foreach (var rental in Model.Queue.Where(r => r.DateSent == null).OrderBy(r => r.QueuePosition))
                {
                <div class="group">
                    <h3>@Html.ActionLink(@rental.Movie.Name, "Details", "Movies")</h3>
                    <div class="containerQueue">
                        <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                    role="button" aria-disabled="false" id="unqueueButton">
                    <a href="javascript:unqueue(@rental.RentalID);"><span class="ui-button-text">Unqueue</span>
                    </a>
                </button>
                    </div>
                </div>
                }
            }
            else
            {
                <div class="group">
                    <h3><a href="#">No movies in queue</a></h3>
                    <p>You didn't add any movies to your queue, but you can @Html.ActionLink(linkText: "change", controllerName: "Movies", actionName: "Index") that.</p>
                </div>
            }
        </div>
    </section>
    @if (!messagesToDisplay.Any())
    {
        <section id="messages" class="item">
            <h2>Your Messages</h2>
            <p>You have no messages.</p>
        </section>
    }
    else
    {
        <section id="messages" class="item">
            <h2>Your Messages</h2>
            <table>
                <thead>
                    <tr>
                        <td>From</td>
                        <td>Date</td>
                        <td>Text</td>
                    </tr>
                    <tr>
                </thead>
                <tbody>
                    @foreach (var item in messagesToDisplay)
                    {
                        <tr>
                            <td>
                                @if (item.toAll)
                                {
                                    @Html.Display("System");
                                }
                            </td>
                            <td>@Html.Display(item.DateSent.ToString())</td>
                            <td>
                                <p>@Html.Display(item.Text)</p>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>    
    }
</div>
