@model WAP_Assignment.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Movie</legend>

    <div class="display-label">adult</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.adult)
    </div>

    <div class="display-label">language</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.language)
    </div>

    <div class="display-label">original_name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.original_name)
    </div>

    <div class="display-label">name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">alternative_name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.alternative_name)
    </div>

    <div class="display-label">type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.type)
    </div>

    <div class="display-label">url</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.url)
    </div>

    <div class="display-label">overview</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.overview)
    </div>

    <div class="display-label">tagline</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tagline)
    </div>

    <div class="display-label">certification</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.certification)
    </div>

    <div class="display-label">released</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.released)
    </div>

    <div class="display-label">homepage</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.homepage)
    </div>

    <div class="display-label">trailer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trailer)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
