@model IEnumerable<WAP_Assignment.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            adult
        </th>
        <th>
            language
        </th>
        <th>
            original_name
        </th>
        <th>
            name
        </th>
        <th>
            alternative_name
        </th>
        <th>
            type
        </th>
        <th>
            url
        </th>
        <th>
            overview
        </th>
        <th>
            tagline
        </th>
        <th>
            certification
        </th>
        <th>
            released
        </th>
        <th>
            homepage
        </th>
        <th>
            trailer
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.adult)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.original_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alternative_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.overview)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tagline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.certification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.released)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.homepage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trailer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
